/* -------------------------------------------------------- General
*/
html {
  font-size: 62.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* -------------------------------------------------------- Home button
*/
.home_button {
  display: flex;
  justify-content: center;
}

.home_button a {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  text-align: center;
  text-decoration: none;
}

.home_button:hover {
  transform: scale(1.1);
}

/* -------------------------------------------------------- Nav
*/

nav {
  flex: 1 0 auto; /* Apply this to the content div */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav_i {
  display: inline-block;
  padding: 10px;
  border: 2px solid rgba(128, 128, 128, 0.4);
  border-radius: 10px;
  margin: 0.25rem;
}

.nav_i a {
  color: black;
  text-decoration: none;
}

.nav_i:hover {
  border: 2px solid rgb(0, 0, 0);
}

/* -------------------------------------------------------- Footer
*/
footer {
  margin-top: auto;
}

.socials {
  list-style-type: none;
  padding: 0;
}

.socials li {
  display: inline-block;
  margin-left: 10px;
}

.socials img {
  width: 32px;
}

.socials img:hover {
  opacity: 0.5;
}

@media screen and (min-width: 501px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
}

@media screen and (max-width: 500px) {
  footer {
    text-align: center;
    padding: 10px;
  }
}
