/* Universal
--------------------------------------------------*/
.nav_i {
	display: inline;
	padding: 8px;
}

body {
	background-color: #FAF0CA;
}

/* Home
--------------------------------------------------*/

/* to_claire
--------------------------------------------------*/
.to_claire {
	background-color: pink;
}

/* YOU_CAN_DO_IT
--------------------------------------------------*/
.YOU_CAN_DO_IT h1{
	color: #0D3B66;
}
.todo {
	background-color: #F4845F;
}
.done {
	background-color: #F27059;
}

/* about_me
--------------------------------------------------*/
.about_me {
	background-color: black;
	color: red;
}