/* about_me
--------------------------------------------------*/
/*
COLOR PALETTE

Dark green	#3c8453
Sandy beige	#bcaa97
Dark gray	#222222
Light gray	#d3d4d6 
off-white	#f6f6f6
*/

/* GLOBAL STYLES
--------------------*/
/*
	https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
	box-sizing: border-box;
	font-size: 62.5%; /* set defualt to 10px */
}
*, *:before, *a:after {
	box-sizing: inherit;
}

html, body {
	height: 100%
}

body {
	background: #f6f6f6;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 1.5rem;
	line-height: 1.4;
}
h1, h2, h3 {
	font-family: "Caveat", cursive;
	font-weight: 400;
	margin: 0;
}
h1 {
	font-size: 7rem;
	line-height: 0.85;
}
h2 {
	font-size: 3.6rem;
}
h3 {
	font-size: 2.4rem;
}

/* Header
--------------------------------------------------*/
header {
	background: rgba(0, 0, 0, 0.2);
	padding: 1px 0px;
	border-radius: 10px;
	margin: 0;
}
.nav_i {
	display: inline;
	padding: 10px 0;
	border: 2px solid rgba(255, 255, 255, 0.4);
	border-radius: 10px;
}
.nav_i a {
	color: black;
	text-decoration: none;
	margin: 1em;
}
.nav_i:hover {
	border: 2px solid white;
}
.current {
	background: rgba(255, 255, 255, 0.2);
	color: black;
	text-decoration: none;
	border: 2px solid white;
	border-radius: 10px;
}

/* links
--------------------*/
a {
	color: #3c8453;
}

a:hover {
	color: #bcaa97;
	text-decoration: none;
}

footer a {
	color:#bcaa97;
}

footer a:hover {
	color: #3c8453;
}

.btn {
	background: #3c8453;
	color: #f6f6f6;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2rem;
	display: inline-block;
	padding: 7px;
	letter-spacing: .1em;
	line-height: 1;
	border-radius: 4px;
}

.content-wrapper {
	margin: 0 auto;
	padding: 30px;
	max-width: 900px;
}

/* HOME
--------------------*/
.home {
	background: url(../images/bg-home-office-studio.jpg) no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.home .content-wrapper {
	flex: 1 0 auto;
}
.content-bg {
	background: rgb(255 255 255 / 0.9);
	padding: 30px;
}

/* RESUME
--------------------*/
.resume header::before {
	background: url(../images/bg-home-office-studio.jpg) center;
	background-size: cover;
	content: "";
	display: block;
	height: 375px;
}
.resume-section {
	margin-bottom: 50px;
}
.resume-section h2 {
	border-bottom: 2px dashed #d3d4d6;
}
.download-link {
	position: fixed;
	top: 5px;
	left: 5px;
	font-size: 1.5rem;
}
/* Profile
--------------------*/
.project-item {
	display: flow-root;
	margin: 30px 0; 
}
.project-item img {
	width: 300px;
	float: left;
	margin-right: 20px;
}

/* Projects
--------------------*/

/* Work Experience
--------------------*/
.work-item {
	display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
	margin: 30px 0;
}
.work-details p {
	margin: 0
}
.work-summary p:first-child {
	margin-top: 0;
}

/* Education
--------------------*/
.education-item {
	margin: 30px 0;
}
.education-item p {
	margin: 0;
}

/* FOOTER
--------------------*/
footer {
	background: #222;
	color: #d3d4d6;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.socials {
	list-style-type: none;
	padding: 0;
}

.socials li {
	display: inline-block;
	margin-left: 10px;
}

.socials img {
	width: 32px;
}
.socials img:hover {
	opacity: 0.5;
}

