/* -------------------------------------------------------- General
*/
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: system-ui;
    background-color: 	#9fd3c7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* -------------------------------------------------------- header
*/
h1 {
    color: #142d4c;
    text-align: center;
}
/* -------------------------------------------------------- Example
*/
#example {
    max-width: 350px;
    padding: 1px 4px;
    border-radius: 20px;
    background-color: white;
}

#example pre {
    border: 5px solid;
    padding: 5px;
    margin: 0 auto;
}
/* -------------------------------------------------------- input
*/
.input {
    margin: 20px;
}
/* -------------------------------------------------------- button
*/
button {
    color: #ececec;
    background-color: #385170;
    display: block;
    padding: 10px;
    border-radius: 10px;
    margin-left: 30px;
}
/* -------------------------------------------------------- output
*/
.output td {
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
}

.output #empty {
    border: 0;
}