.App {
  margin: 0;
  padding: 0;
}

.sticky-header {
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 1000;
  text-align: center;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.content h1 {
  font-size: 5em;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.content a {
  font-size: 2em;
  color: white;
  text-decoration: none;
}
